<carousel-component
        #topCarousel
        [autoPlay]=true
        [delayAutoPlay]=5000
        [angle]=30
        [timeToSlide]=300>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img/unit/01.png"/>
        </div>
    </div>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img/unit/02.png"/>
        </div>
    </div>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img//unit/03.png"/>
        </div>
    </div>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img/travel.png"/>
        </div>
    </div>
</carousel-component>

<div class="container">
    <div class="animate three">
        <span>W</span><span>e</span><span>l</span><span>c</span><span>o</span><span>m</span><span>e</span> &nbsp;
        <span>T</span><span>o</span>&nbsp;
        <span>N</span><span>e</span><span>p</span><span>t</span><span>U</span><span>n</span><span>i</span><span>t</span>
    </div>
</div>