<carousel-component
        #topCarousel
        [autoPlay]=true
        [delayAutoPlay]=5000
        [angle]=30
        [timeToSlide]=300>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img/travel.png"/>
        </div>
    </div>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img/travel.png"/>
        </div>
    </div>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img/travel.png"/>
        </div>
    </div>
    <div class="item-carousel">
        <div class="b">
            <img src="../../assets/img/travel.png"/>
        </div>
    </div>
</carousel-component>

<h1>WELCOME TO NEPTUNIT</h1>