<div *ngIf="hideForm" id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Make your reservation</h1>
                        <p>
                            “A volte credo che ci sia vita negli altri pianeti, a volte credo di no. In qualsiasi dei due casi la conclusione è sorprendente.” Carl Sagan
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-md-pull-7">
                    <div class="booking-form">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Check In</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Check out</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Rooms</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Adults</span>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <span class="form-label">Children</span>
                                        <select class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn" (click)="submitForm()">Check availability</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showCard" class="container">
    <div class="card" style="width:400px; top:4px;">
        <div class="card-header">Header</div>
        <img class="card-img-top" src="../../assets/img/travel.png" alt="Card image" style="width:100%;height:50%;">
        <div class="card-body">
            <h4 class="card-title">TITOLO</h4>
            <p class="card-text">Some example text some example text.</p>
            <a href="#" class="btn btn-primary stretched-link">Book now!</a>
        </div>
        <div class="card-footer">Footer</div>
    </div>
</div>

