body, html {
    height: 100%;
    margin: 0;
}

#wrapper {
    height:789px;
    width:100%;
    background: url("../assets/img/back/1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}